{% extends 'demo_test/base_site.html' %}
{% block content %}
    <ul>
    {% for i in string %}
        <li>{{ i }}{% if not forloop.last %},{% endif %}</li>
        {% if i == 5 %}
            等于5就输出
        {% endif %}
    {% endfor %}
    </ul>
    <a href="{% url 'add2' 4 5 %}">计算4+5</a>
    {% url 'add2' 4 5 %}
    用户名:{{ request.user }}
    url:{{ request.path }}
    参数:{{ request.GET.urlencode }}
    <a href="{{ request.path }}?{{ request.GET.urlencode }}">网址加参数</a>
    <form method="post">
        {{ string.as_p }}
        {% csrf_token %}
        <input type="submit" value="计算">
    </form>

    <form action="/add3/" method="POST" >
        {% csrf_token %}
        a:<input type="text" name="a"><br>
        b:<input type="text" name="b"><br>
        <input type="submit" value="提交">
    </form>
    <form action={% url "user_form" %} method="POST" name="user_form">
    {% csrf_token %}
    用户名:<input type="text" name="name" placeholder="your name" pattern="\w{1,}" maxlength="20" required autofocus>
    <br>密码:<input type="password" name="pwd" placeholder="your password" pattern="\w{6,}" maxlength="20" required>
    <br><input type="submit" value="提交" formtarget="_blank">
    </form>

{% endblock %}
